---
Language:        Cpp
BasedOnStyle:  Google
AccessModifierOffset: -1
AlignOperands:   true
ColumnLimit:     80
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth:     4
IndentWrappedFunctionNames: false
ReflowComments:  true
SortIncludes:    true
SortUsingDeclarations: true
TabWidth:        8
UseTab:          Never
...
